<div class="container">
    <div class="row">
        <div class="col s12 animated bounceInLeft left-align">
            <h2 class="light white-text">Molding your imagination into reality..</h2>
            <h5 class="light grey-text text-darken-2">It's what I do.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 animated bounceInRight center-align">
            <h2 class="light white-text">From designing to deployment..</h2>
            <h5 class="light grey-text text-darken-2">
                I am a developer.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 animated bounceInRight center-align transparent">
            <a href="/projects" class="light white-text btn lrg-btn transparent">View My Work</a>
        </div>
    </div>
</div>