<!-- Projects -->
<section class="container">
    <div class="row">
        <div class="col s5 white-text">
            <br>
            <div class="left-align">
                <p>
                    A E-Commerce Website using MERN technologies.
                </p>
            </div>
            <div class="align-left">
                <a target="_blank" href="https://github.com/JimTatarakis/project-3"><i
                        class="fab fa-github fa-2x icon-white text-white"></i>Repository</a>
                <a target="_blank" href="https://teal-canvas.herokuapp.com/"><i
                        class="material-icons fa-2x icon-white text-white">pageview</i>Live Site</a>
            </div>
        </div>
        <div class="col s6 right-align">
            <div class="card">
                <div class="card-image">
                    <img src="https://raw.githubusercontent.com/JimTatarakis/Jim-Portfolio/master/assets/imgs/Teal-Canvas.png" class="materialboxed responsive-img project-image" />
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col s5 white-text">
            <br>
            <div class="left-align">
                <p>
                    This is a full stack app project created to demonstrate my ability to use the following
                    technologies:
                </p>
                <ul>
                    <li>NodeJS</li>
                    <li>ExpressJS</li>
                    <li>MySQL</li>
                    <li>Sequelize</li>
                    <li>Handlebars</li>
                </ul>
            </div>
            <div class="align-left">
                <a target="_blank" href="https://github.com/JimTatarakis/Burger-Logger"><i
                        class="fab fa-github fa-2x icon-white"></i>Repository</a>
                <a target="_blank" href="#"><i class="material-icons fa-2x icon-white">pageview</i>Live Site - coming
                    soon</a>
            </div>
        </div>
        <div class="col s6 right-align">
            <div class="card">
                <div class="card-image">
                    <img src="https://raw.githubusercontent.com/JimTatarakis/Burger-Logger/master/images/Add_Burger_One.png"
                        class="materialboxed responsive-img project-image" />
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col s5 white-text">
            <br>
            <div class="left-align">
                <p>
                    A full-stack web app task manager using many technologies (included in the readme via github
                    Repository below).
                </p>
            </div>
            <div class="align-left">
                <a target="_blank" href="https://github.com/JimTatarakis/Routine"><i
                        class="fab fa-github fa-2x icon-white"></i>Repository</a>
                <a target="_blank" href="https://routine-jus-jim-kel.herokuapp.com/"><i
                        class="material-icons fa-2x icon-white">pageview</i>Live Site</a>
            </div>
        </div>
        <div class="col s6 right-align">
            <div class="card">
                <div class="card-image">
                    <img src="assets/css/images/Routine.png" class="materialboxed responsive-img project-image" />
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col s5 white-text">
            <br>
            <div class="left-align">
                <p>
                    A website created to help users find nearby events and local weather forcast.
                </p>
            </div>
            <div class="align-left">
                <a target="_blank" href="https://github.com/JimTatarakis/Where2Go.git"><i
                        class="fab fa-github fa-2x icon-white text-white"></i>Repository</a>
                <a target="_blank" href="https://jimtatarakis.github.io/Where2Go/"><i
                        class="material-icons fa-2x icon-white text-white">pageview</i>Live Site</a>
            </div>
        </div>
        <div class="col s6 right-align">
            <div class="card">
                <div class="card-image">
                    <img src="assets/css/images/Where-2-Go.png" class="materialboxed responsive-img project-image" />
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col s5 white-text">
            <br>
            <div class="left-align">
                <p>
                    more coming soon..
                </p>
            </div>
            <div class="align-left">
                <a target="_blank" href="#"><i class="fab fa-github fa-2x icon-white"></i>Repository - coming soon</a>
                <a target="_blank" href="#"><i class="material-icons fa-2x icon-white">pageview</i>Live Site - coming
                    soon</a>
            </div>
        </div>
        <div class="col s6 right-align">
            <div class="card">
                <div class="card-image">
                    <img src="https://cdn.pixabay.com/photo/2016/12/11/08/01/coming-soon-1898936_960_720.jpg"
                        class="materialboxed responsive-img project-image" />
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>